/* CSS declarations go here */

.modal-dialog {
    z-index: 2000;
}

#splash { 
   position: relative; 
   height: 100%; /* for IE 6 */
}

#greeting { 
   position: absolute; 
   top: 100px; 
   left: 130px; 
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   padding: 10px; 
}

#timer {
    background-image: url("/clock.png");
    background-size:250px;
}