/* CSS declarations go here */

.modal-dialog {
    z-index: 2000;
}

#splash { 
   position: relative; 
}

#splashimg {
    width: 100%;
}

#exerciseImage {

    
}

#play-img {
    max-height: 200px;
    margin: 0 auto;
}

#greeting { 
   position: absolute; 
   top: 100px; 
   left: 130px; 
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   padding: 10px; 
}

#timer {
    background-image: url(https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/48/cat.png);
    background-size:48px;
    background-repeat:no-repeat;
    background-position:center; 
    color: green;
    max-height: 100px;
    max-width: 100px;
    margin-left: auto ;
    margin-right: auto ;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}
